* {
  margin: 0; 
  padding: 0 ; 
}


:root {
  --green-color: green;
  --white-color: white;
  --gray-color: rgb(70, 70, 70);
  --black-color: black;
  --light-white-color: rgb(230, 230, 230);
  --lightest-white-color: rgb(200, 200, 200);
}

.result { 
  color: var(--white-color);
  height: 40px;
  display: block;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
}

.container { 
  height: 100vh; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: var(--black-color);
}

.calculator { 
  height: 470px ;
  max-width: 460px ; 
  border-radius: 4px ; 
  background-color: var(--gray-color) ;
}

.output { 
  height: 85px;
}


.keys { 
  gap: 5px ; 
  padding: 10px ; 
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


button { 
  border: none; 
  font-size: 28px; 
  min-width: 80px; 
  min-height: 60px ; 
  border-radius: 4px
}


button:hover {
  color: var(--green-color);
}


hr {
  border: 2px solid var(--green-color);
}


footer {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  color: var(--light-white-color);
}


.keys button:first-child{
  color: var(--light-white-color); 
  grid-column-end: 3; 
  grid-column-start: 1; 
  background-color: var(--green-color);
}


.keys button:nth-child(15) { 
  color: var(--light-white-color);
  grid-row: 4 / 6; 
  grid-column: 4 / 4; 
  background-color: var(--green-color);
}


.keys button:nth-child(16) { 
  grid-column-start: 1 ; 
  grid-column-end: 3; 
}


.input, 
.result { 
  color: var(--light-white-color); 
  height: 40px; 
  display: block; 
  font-size: 40px; 
  text-align: right; 
  padding-right: 10px; 
  padding-top: 7px;
  padding-bottom: 10px;
}


#display{ 
  margin-bottom: 90%;
}


.output { 
  margin-bottom: 25px;
}